@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    // custom scroll-bar
    &::-webkit-scrollbar {
        border-radius: 10px;
        height: 10px;
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: $coolOrange;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: #14113d;
    }
}

.body {
    background: url("../img/headerSky.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    will-change: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(32, 32, 32, 0.3);
        will-change: auto;
    }

    .blurred-hr {
        position: absolute;
        z-index: 3;
        height: 40px;
        width: 100%;
        background-color: black;
        margin: 0px;
        display: flex;
        box-shadow: 0px -15px 30px 40px black;
        position: relative;
        border: none;
    }

    .hr {
        height: 5px;
        background-color: $coolOrange;
        border: none;

        &--white {
            margin: 5rem 5rem 2rem;
            height: 2px;
            background-color: white;
        }
    }

    &__modal-open {
        height: 100vh;
        overflow-y: hidden;
    }
}

.header {
    position: fixed;
    width: 100vw;
    z-index: 10;
    top: 0; 
    display: flex;
    align-items: center;
    padding: 1rem 4rem;
    box-shadow: 0px 2px 30px 0px black;
    background-color: rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: rgba(0, 0, 0, 0.7);
        box-shadow: inset 0px -10px 10px -10px rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(0.2rem);
    }
    

    .nav-btn {
        z-index: 10;
        width: 5%;
        height: 4vw;
        padding: 2rem 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 10px;
        transition: all 0.5s ease-out;

        &:hover {
            background: rgba(0, 0, 0, 0.5);
        }
        &__toggle {
            position: absolute;
            display: flex;
            border-radius: 10px;
        }

        &__label {
            cursor: pointer;
        }

        &__input {
            display: none;
        }

        &__label>.nav-btn__bars {
            display: flex;
            width: 35px;
            height: 4.3px;
            background-color: white;
            position: relative;
            border-radius: 10px;
            transition: all 0.5s;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 9px;
            margin-bottom: 9px;
        }

        &__label>#bar1 {
            transform: rotateZ(0deg);
            transform-origin: left bottom;
        }

        &__label>#bar3 {
            transform: rotateZ(0deg);
            transform-origin: left top;
        }

        #toggle:checked~label>#bar1 {
            content: "";
            background-color: $coolOrange;
            transform: rotateZ(45deg) translate(2.5px, -2.5px);
            visibility: visible;
            margin: 0;
            box-shadow: 0px 0px 10px 0px $coolOrange;
        }

        #toggle:checked~label>#bar3 {
            content: "";
            background-color: white;
            transform: rotateZ(-45deg) translate(2.5px, 2.5px);
            visibility: visible;
            margin: 0;
            box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.7);
        }

        #toggle:checked~label>#bar2 {
            visibility: hidden;
            transition: all 0.5s var(--animation-curve);
        }

        &:hover>label>.bars {
            background-color: $coolOrange;
        }
    }

    .nav__bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav__logo {
            z-index: 1;
            color: white;
            padding: 1rem 0;
            text-decoration: none;
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 1px;

            transition: all 0.2s ease-in-out;

            &:hover {
                text-shadow: 0px 0px 5px white;
                transform: scale(1.2) translate(0%, 0%);
            }
        }
    }
    .navBx {
        display: flex;
    }

    .nav {
        opacity: 0;
        display: none;
        transition: all 0.4s ease-in-out;

        &__list {
            margin-right: 4rem;
            text-decoration: none;
            display: flex;
            list-style: none;
        }

        &__list-item {
            transition: all 0.2s ease-in-out;

            &:hover {
                transform: scale(1.2) translate(0%, -10%);
            }
        }

        &__links {
            width: 100%;
            margin: 1vw;
            padding-top: 0.5vw;
            padding-bottom: 0.5vw;
            padding-left: 2vw;
            padding-right: 2vw;
            text-decoration: none;
            color: white;
            transition: all 0.5s ease-in-out;

            &:hover {
                color: $coolOrange;
                box-shadow: 0px 11px 10px -10px rgba(255, 255, 255, 0.7);
                padding-bottom: 3px;
            }

            &:hover .nav__list-item {
                transform: scale(1.2);
            }
        }
    }
}

.banner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    &__icn {
        font-size: 2.625rem;
        color: white;
        position: relative;
        justify-content: center;
        top: 15.625rem;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
            color: $coolOrange;
        }
    }

    &__contentBx {
        z-index: 9;
        display: flex;
        flex-direction: column;
        top: 20rem;
        align-items: center;
        position: relative;
        width: 100%;
        text-align: center;

        .banner__title {
            color: white;
            font-size: 3.75rem;
        }

        .banner__subtitle {
            color: white;
            font-size: 28px;
            padding-top: 1rem;
        }

        .fa-angle-double-down {
            text-align: center;
            vertical-align: baseline;
        }
    }
}

.section {
    z-index: 2;

    &__intro,
    &__outro {
        
        z-index: 0;
        
        // backdrop-filter: blur(10px);

        padding-left: 10vw;
        padding-right: 10vw;

        &--shadow{
            box-shadow: 0px -10px 15px 0px rgba(255, 255, 255, 0.3);
            background: rgba(0, 0, 0, 0.2);
        }
    }

    &__contentBx {
        margin: 0 10%;
    }

    &__heading {
        position: relative;
        z-index: 1;
        height: 150px;
        padding-top: 2rem;
        padding-bottom: 1rem;
        border-radius: 50px;
        letter-spacing: 1px;
        display: flex;
        flex-direction: column;

        .section__title {
            width: 100%;
            position: relative;
            font-size: 4rem;
            display: flex;
            align-items: center;
            color: white;
            text-transform: uppercase;
            height: 5.5rem;

            &--margin{
                margin-left: 5rem;
            }
        }

        .title__line {
            width: 95%;
            height: 4%;
            left: -50%;
            position: relative;
            background-color: white;
            box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.8);
            border-radius: 10px;
        }
    }

    &__subtitle {
        font-size: 3.5rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 1.5rem;
        margin: 2rem;
        text-transform: uppercase;
        border-bottom: 2px solid white;
    }

    &__textBx {
        
        z-index: 0;
        justify-content: center;
        color: white;
        position: relative;
        display: flex;
    }
}

.backgroundBlur{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(20px);
    z-index: -1;
}

.activities {
    position: relative;
    width: 100%;
    height: 100%;

    &__firstBx {
        padding-bottom: 3rem !important;
        padding-top: 4rem;
        font-size: 22px;
        text-align: center;
        position: relative;
    }
    &__secondBx {
        padding-bottom: 3rem !important;
        padding-top: 4rem;
        font-size: 22px;
        text-align: center;
        position: relative;
    }

    .splide__slide {
        z-index: 100;
        display: flex;
        justify-content: center;
        background: #ECF0F1;
        width: 50% !important;
        background-color: black;
        cursor: pointer;

        transition: all 2s ease-in-out;

        &:hover {
            box-shadow: inset 7px 0px 10px 0px black, inset -5px 0px 10px 0px black;
        }

        &:hover .splide__slide__container>.slide__img,
        &:focus .splide__slide__container>.slide__img {
            opacity: 0.25;
        }

        &:hover .slide__contentBx,
        &:focus .slide__contentBx {
            opacity: 1;
        }
    }

    .target {
        width: 80% !important;

        .slide__textBx {
            opacity: 0 !important;
        }
    }

    .splide__slide__container {
        width: 100%;
        z-index: 1;
        height: 800px;
        display: flex;
        background: #202020;
        position: relative;

        .slide__contentBx {
            width: 50%;
            display: flex;
            position: relative;
            transition: all .5s ease-in-out;
            opacity: 0;

            .slide__header {
                background-color: rgba(255, 255, 255, 0.25);
                position: absolute;
                justify-content: center;
                align-items: center;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                display: block;
                width: 13.75rem;
                height: 100%;
                top: 50%;
                left: 4.688rem;
                padding: 5%;
                white-space: nowrap;

                transition: all 2s ease-in-out;

                .slide__nPage {
                    position: absolute;
                    top: 5rem;
                    left: 12rem;
                    font-size: 2vw;
                    color: white;
                }

                .slide__title {
                    position: absolute;
                    padding: 0;
                    top: 30%;
                    left: 40%;
                    font-size: 3.5vw;
                    color: white;
                }

                .slide__sub-title {
                    z-index: 2;
                    position: absolute;
                    left: 70%;
                    font-size: 2.5vw;
                    top: 40%;
                    color: rgba(255, 255, 255, 0.7);
                    transition: all 2s ease-in-out;

                    &--orange {
                        color: $coolOrange;
                        font-weight: 500;
                    }
                }

                #pain {
                    transition: all 2s ease-in-out;

                    &:hover #wPlay {
                        display: none;
                    }

                    &:hover:before {
                        content: 'Pain, ';
                    }
                }
            }

            .slide__textBx {
                position: absolute;
                opacity: 1;
                top: 80%;
                left: 27.5vw;
                width: 29.1vw;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                display: flex;
                transition: all 0.5s ease-in-out;
            }
        }

        .slide__img {
            z-index: -1;
            display: block;
            position: absolute;
            height: 100%;
            object-fit: cover;
            width: 100%;
            top: 0;
            left: 0;
            transition: .5s ease;
            backface-visibility: hidden;
        }

        .slide__hiddenBx {
            display: flex;
            opacity: 0;
            transition: all 1s ease-in-out;
            width: 549.438px;
            position: relative;
            left: 3%;
            align-items: center;
            text-align: justify;
            hyphens: auto;
            padding: 5rem;
            background: rgba(0, 0, 0, 0.7);
            overflow: hidden;
        }

        .slide__desc,
        .slide__text {
            color: white;
            text-align: justify;
            hyphens: auto;
            word-spacing: 0px;
            &--orange {
                color: $coolOrange;
            }

            &--strong {
                font-weight: bold;
            }
        }
    }
}

.archetypes {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    //background: linear-gradient(15deg, $coolIndigo 20%, $coolOrange 90%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(221, 221, 221, 1) 25%, rgba(72, 72, 72, 1) 65%, rgba(0, 0, 0, 1) 100%);
    box-shadow: 0px 0px 15px 1px black;

    .section__contentBx--transparentBg {
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 10px 2px black;
    }

    .section__intro {
        box-shadow: 0;
        background: 0;
        // backdrop-filter: 0;
        padding-top: 0;
    }
    .section__heading{
        padding-left: none;
    }
    .section__text {
        padding: 2rem 10rem 0 10rem;
        justify-content: center;
        position: relative;
        width: 100%;
        font-size: 20px;
        text-align: justify;
        hyphens: auto;
    }

    .pia {
        display: flex;
        justify-content: center;

        align-items: center;
        padding: 4rem 0;
    }

    .eva {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 4rem 0;
    }

    .aiBx {
        margin: 2rem 0;
        left: -5%;
        position: relative;
        display: flex;
        flex-direction: column;

    }

    .circle {
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        background: white;
        width: 32rem;
        height: 32rem;
        background-color: transparent;
        border-radius: 17rem;
        border: 5px solid white;
        box-shadow: inset 0px 0px 50px 2px $coolOrange, 0px 0px 5px 2px black;
        background-color: rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease;
        overflow: hidden;
        cursor: pointer;

        &--left {
            left: 2%;
        }

        &--right {
            right: 10%;
        }

        &-chip {
            background-size: cover;
            justify-content: center;
            align-items: center;
            width: 100%;
            transform: translate(-2.5%, 51.5%) scale(6.5, 6.5);
            transition: all 2s;
        }

        &-info {
            margin: 2rem;
            padding: 2rem;
        }

        &__title {
            padding: 0;
            text-align: center;
            font-size: 4rem;
        }

        &__sub-title {
            position: relative;
            top: 0;
            padding: 0;

            color: rgba(255, 255, 255, 0.7);
            font-size: 32px;
            text-align: center;
        }

        &-desc {
            color: white;
        }

        &-title {
            position: absolute;
            z-index: 10;

            text-shadow: -0.125rem 0.125rem 0.313rem black;
            color: white;
            font-size: 4rem;
            letter-spacing: 0.05rem;

            transform: scale(1);
            transition: all 1.9s;
        }

        &:hover {
            transform: scale(1.1, 1.1);
            box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.9);
            background-color: rgba(255, 255, 255, 0.5);
            box-shadow: 0px 0px 10px 2px $coolOrange, inset 0px 0px 50px 2px black;

            .circle-chip {
                transform: translate(0%, 11%) scale(1.5, 1.5);
            }

            .circle-title {
                transform: translate(2.5%, -3%) scale(0.3, 0.3);
                color: $coolOrange;
            }
        }

        &:hover .pia__title {
            box-shadow: 0px 0px 5px $coolOrange;
        }
    }

    .AI {

        &-info {
            width: 40%;
            position: relative;
            margin: 2rem;
            padding: 2rem;

            font-size: 20px;
            text-align: justify;
            hyphens: auto;
            color: white;

            &--left {
                left: 5%;
            }

            &--right {
                left: 0%;
            }
        }

        &__title {
            padding: 0;
            text-align: center;
            font-size: 4rem;
        }

        &__sub-title {
            position: relative;
            margin: 1rem 0;
            top: 0;
            padding: 0;

            color: rgba(255, 255, 255, 0.7);
            font-size: 32px;
            text-align: center;
        }

        &-info {
            position: relative;
            font-size: 20px;
            text-align: justify;
            width: 40%;
            color: white;

            &--left {
                left: 5%;
            }

            &--right {
                left: 0%;
            }
        }

        &__textBx {
            position: relative;
            font-size: 20px;
            text-align: justify;
            hyphens: auto;
            left: 0%;
        }

        &__desc {
            font-size: 1.5rem;
            margin: 5rem auto;
            text-align: justify;
            hyphens: auto;
        }

        &__order-button {
            width: 50%;
            height: 4rem;
            padding: 1rem 2rem;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            background-color: $coolOrange;
            border: 0;
            border-radius: 1rem;
            box-shadow: 0px 0px 5px black;
            cursor: pointer;
        }
    }
}

.aboutUs__container {
    display: flex;
    flex-direction: column;

    .section__contentBx--transparentBg {
        position: relative;
        z-index: 0;
        padding: 0;
        width: 80%;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 5px 0px black;
    }

    .c-chart {
        position: relative;
        width: 75%;
        margin: 5rem 0;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 10px 2px black;

        background-color: rgba(255, 255, 255, 0.2);

        &__title {
            justify-content: flex-start;
            margin: 0 3rem;
        }
    }

    .values {
        left: -5%;
    }

    .results {
        right: -30%;
    }

    .grid {
        width: 100%;
        padding: 0 4rem 1.5rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, 30%);
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 2rem;

        &-item {
            position: relative;
            padding: 1rem 0 0;
            display: flex;
            flex-direction: column;

            &--underline {
                border-bottom: 2px solid white;
            }
        }

        &__title {
            font-weight: bold;
            height: 3.5rem;
            text-transform: uppercase;
            font-size: 1.8rem;
            color: white;

            &--orange {
                color: $coolOrange;
            }
        }

        &__text {
            padding: 1rem;
            font-size: 1rem;
            color: white;
        }
    }

    .locaux {
        position: relative;
        width: 90%;
        min-height: 20rem;
        margin: 2rem auto;
        padding: 2rem;
        overflow: hidden;
        border-radius: 1rem;
        background-color: rgba(0, 0, 0, 0.2);
    }


    .c-tromb {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 2rem auto;
        left: -5%;
        background-color: rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 10px 2px black;

        .team {
            display: flex;
        }

        .group__textBx {
            position: relative;
            margin: 2rem;
            width: 30%;
            display: flex;
            align-items: center;
            font-size: 22px;
            color: white;
        }

        .group__text{
            font-size: 2rem;
            text-align: center;
        }
        .group-photos {
            width: 75%;
            left: 0;
            display: flex;
            flex-wrap: wrap;
            grid-column-gap: 2rem;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding: 2rem 1.5rem 0;

            &__item {
                margin: 0 auto 2rem;
                display: flex;
                flex-direction: column;
                width: 22%;
                box-shadow: 0px 0px 5px 1px black;

                transition: all 0.2s ease-in-out;

                .group-photos__img {
                    max-width: 100%;
                    width: 100%;
                    position: relative;
                }

                .group-photos__desc {
                    position: relative;
                    width: 100%;
                    padding: 0.5rem;

                    font-size: 0.9rem;
                    color: white;
                    background-color: rgba(0, 0, 0, 0.8);
                    transition: all 0.2s ease-in-out;
                }

                &:hover {
                    transform: scale(1.2);
                    box-shadow: 0px 0px 2px 2px white;
                }
            }
        }
    }

    .splide__logos {
        min-width: 80%;
        position: relative;
        bottom: 0;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        align-items: center;
        padding-bottom: 3rem;

        border-radius: 15px;
        background-color: rgba(20, 20, 20, 0.8);

        .logo__list {
            display: flex;
            align-items: center;
        }

        .logo__item {
            position: relative;
            margin: 2rem auto;
            width: 15rem;
            display: flex;
            justify-content: center;

            border-radius: 10px;
            filter: drop-shadow(2px 4px 6px black);
        }

        .am-logo {
            filter: invert(10%) sepia(42%) saturate(1286%) hue-rotate(340deg) brightness(103%) contrast(104%) drop-shadow(2px 4px 6px black);
            width: 8rem;
            margin: 1rem auto;
        }

        .logo__item--size {
            width: 12rem;
        }

        .vt-logo {
            background-color: #1B4786;
            padding: 2rem;
        }

        .logo__item--white {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%) drop-shadow(2px 4px 6px black);
        }
    }

    .partenaires__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 2rem 5rem;

        .partenaires__title {
            font-size: 44px;
            color: white;
            left: 50%;
            width: 100%;
            margin: 1rem auto 0;
            text-align: center;

            &--orange {
                color: $coolOrange;
            }
        }

        .partenaires__textBx {
            margin: 5rem;
            color: white;
        }
    }
}

.contact{
    &__firstBx{

        padding-bottom: 3rem !important;
        padding-top: 4rem;
        font-size: 22px;
        text-align: center;
        position: relative;
    }
}
.contactBx {
    display: flex;
    flex-wrap: wrap;
    
    &__textBx {
        position: relative;
        width: 50%;
        text-align: justify;
        hyphens: auto;
        font-size: 20px;
        color: white;

        &--first {
            padding: 10rem !important;
            // backdrop-filter: blur(10px);
            background-color: $coolIndigo;

            &::before {
                content: "";
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                background-image: url(../img/d64mw8u-15e69551-6a73-479c-be7f-5636e6ac5233.jpg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                will-change: auto;
            }
        }

        &--second {
            background-color: $coolIndigo;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }

    .contactForm {
        position: relative;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;

        &__fieldset {
            display: flex;
            flex-direction: column;
            margin: 1rem;
            border-left: 1px solid $coolOrange;
            width: 80%;
        }

        &__inputBx {
            margin: 1rem 1rem;
            display: flex;
            flex-direction: column;
        }

        &__input-label {
            margin: 0.2vw 0 1rem;
        }

        &__input {
            padding: 1rem;
            background-color: rgba(255, 255, 255, 0);
            border: 0;
            outline: none;
            border-bottom: 1px solid $coolOrange;
            color: white;
        }

        &__btn {
            position: relative;
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 1rem 0;
            padding: 1rem 2rem;
            text-decoration: none;
            color: $coolOrange;
            border-radius: 1rem;
            background-color: rgba(255, 255, 255, 0.7);
            color: $coolIndigo;
            border: 0;
            box-shadow: 0px 0px 5px 2px black;
            font-size: 1.2rem;
            cursor: pointer;
            &:hover {
                background-color: rgba(241, 143, 1, 0.8);
                color: $coolIndigo;
            }
        }

        &__input--select {
            padding: 1rem;
            background-color: rgba(255, 255, 255, 0);
            border: 0;
            outline: none;
            border-bottom: 1px solid $coolOrange;
            color: white;
        }

        &__option {
            background-color: rgba(255, 255, 255, 0.2);
            color: black;
        }

        .textarea {
            resize: none;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 0.5rem;
            border-bottom: none;
            box-shadow: 0px 0px 2px 1px black;
        }
    }

    &__message {
        padding-bottom: 5rem;
    }
}

.footer {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    // backdrop-filter: blur(10px);
    &__list{
        padding: 2rem;
        &-title{
            margin: 1rem 0;
            font-weight: bold;
        }
    }

    &__media{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        &-item{
            display: flex;
            padding: 0.5rem;
            border-radius: 1rem;
            margin: 2rem 2rem;
            fill: white !important;
            cursor: pointer;
            transform: scale(1.5);
            box-shadow: 0px 0px 5px black;
            // background-color: rgba(255, 255, 255, 0.5);
            &--svg{
                width: 1rem;
                height: 1rem;
            }
            &:hover{
                background-color: white;
                fill: $coolOrange !important;
                box-shadow: 0px 0px 2px black;
            }
        }
    }
    &__lists{
        width: 80%;
        display: flex;
        margin: auto;
        color: white;
        
    }
    &__list{
        margin: 2rem auto;
        &-item{
            cursor: pointer;
            margin: 0.5rem 0;
        }
    }
}

.modal {
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
    backdrop-filter: blur(10px);
    
    &__contentBx {
        position: relative;
        padding: 6rem;
        overflow: auto;
        border: 0;
        box-shadow: 0px 0px 5px white;
        background-color: rgba(255,255,255,0.7);
        width: 50%;
        transition: all 0.5s ease-in-out;
        color: white;

        &--left {
            right: 100%;
            border-radius: 0 2rem 2rem 0;
            direction: rtl;
        }

        &--right {
            left: 100%;
            border-radius: 2rem 0 0 2rem;
        }

    }

    &__title,
    &__textBx,
    .close-icon {
        direction: ltr;
    }

    &__textBx {
        margin: 2rem;
        padding: 3rem;
        border-radius: 1rem;
        background-color: rgba(0, 0, 0, 0.5);
    }

    &__features-title {
        font-size: 2.5rem;
        margin: 2rem 0;
        text-align: center;
        color: $coolOrange;
    }

    .features__list-item {
        font-size: 1.5rem;
        margin: 1rem 0;
        list-style-type: circle;
    }

    /* The Close Button */
    .close-icon {
        display: flex;
        position: relative;
        color: rgba(0,0,0,0.7);
        top: 10%;
        // color: #aaa;
        font-size: 3rem;
        cursor: pointer;

        &--left {

            justify-content: right;
        }

        &__right {

            justify-content: left;
        }
        &:hover{
            color: $coolOrange;
        }
    }

    .close:hover,
    .close:focus {
        text-decoration: none;
        cursor: pointer;
    }
}

.showModal {
    display: flex !important;
}


.attribMod {
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;

    &__contentBx {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 2rem 6rem 5rem;
        border: 0;
        box-shadow: 0px 0px 5px white;
        background-color: rgba(0, 0, 0, 0.9);
        width: 50%;
        transition: all 0.5s ease-in-out;
        color: white;
        border-radius: 2rem;
    }

    &__textBx {
        padding: 3rem;
        border-radius: 1rem;
        background-color: rgba(255, 255, 255, 0.2);
    }

    &__title{
        font-size: 2rem;
        margin: 0 0 2rem;
    }

    &__list{

        list-style: circle;
        &-link{
            text-decoration: none;
            color: white;
            font-weight: bold;
            &:hover{
                color: $coolOrange;
            }
        }
    }

    /* The Close Button */
    .attribMod__close-icon {
        display: flex;
        position: relative;
        justify-content: flex-end;
        color: #aaa;
        font-size: 3rem;
        cursor: pointer;
    }

    .attribMod__:hover,
    .attribMod__close:focus {
        text-decoration: none;
        cursor: pointer;
    }
}

.attribution {
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 2rem;

    background-color: rgba(0,0,0,0.5);
    font-size: 11px;
    color: white;
    text-align: center;
    &__link {
        color: hsl(228, 45%, 44%);
    }
}
.alertBx{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5vw;
    background-color: black;
    color: white;
}

@media screen and (max-width: 1600px) {

    .header .nav__links {
        padding-right: 0;
        font-size: 1.3vw;
    }

    .banner__icn {
        font-size: 3.625rem;
    }

    .section__contentBx {
        margin: 0;
    }

    .activities .splide__slide__container .slide__contentBx .slide__textBx {
        left: 22.8vw !important;
    }

    .activities .splide__slide__container .slide__hiddenBx {
        left: 2% !important;
    }

    .aboutUs__container .section__contentBx--transparentBg {
        width: 100%;
    }

    .aboutUs__container .values {
        left: 5%;
    }

    .aboutUs__container .results {
        right: -20%;
    }

    .aboutUs__container .c-tromb {
        background-color: rgba(0, 0, 0, 0.7);
        left: 0;
    }

    .aboutUs__container .c-tromb .team {
        flex-direction: column;
    }

    .aboutUs__container .c-tromb .group-photos {
        margin: auto;
    }

    .aboutUs__container .c-tromb .group__textBx {
        width: 70%;
        margin: auto;
        padding: 2rem 0;
    }

    .section__heading .section__title {
        font-size: 5vw;
    }
    .section__heading .section__title--margin{
        margin-left: 6rem;
    }
    .activities .splide__slide__container {
        height: 650px !important;
    }

    .activities .splide__slide__container .slide__hiddenBx {
        width: 31vw !important;
        padding: 5vw !important;
    }

    .archetypes .circle {
        width: 32vw;
        height: 32vw;
    }

    .archetypes .circle-title {
        font-size: 3vw;
    }

    .splide__logos .splide__slide {
        margin: 0 2rem !important;
    }

    .contactBx {
        flex-direction: column;
    }

    .contactBx__textBx {
        width: 80%;
        margin: auto;
        font-size: 2rem;
    }

    .contactBx__textBx--first {
        border-radius: 1rem 1rem 0 0;
        overflow: auto;
    }

    .contactBx__textBx--second {
        border-radius: 0 0 1rem 1rem;
        overflow: auto;
        margin-bottom: 2rem;
    }

    .contactBx .contactForm__input--select,
    .contactBx .contactForm__input {
        font-size: 1.5vw;
    }

    .contactBx .contactForm__option {
        font-size: 1vw;
    }

    .contactBx .contactForm .textarea {
        font-size: 2vw;
    }

    .contactBx .contactForm__btn {
        width: 80%;
        margin: 1rem 0 2rem;
    }

    .attribMod__contentBx {
        width: 70% !important;
    }
}


@media screen and (max-width: 1200px) {
    .header .nav__links {
        padding-right: 0;
        font-size: 1.5vw !important;
    }

    .header .navBx {
        margin-left: 0;
    }

    .section__heading {
        padding-left: 5vw;
    }

    .section__intro {
        padding-left: 7vw;
    }

    .section__subtitle {
        font-size: 4vw;
    }

    .section__heading .section__title {
        font-size: 5vw;
    }

    .activities .splide__slide__container {
        height: 500px !important;
    }

    .aboutUs__container .grid {
        padding: 0 4vw 1.5vw;
    }

    .aboutUs__container .grid__title {
        font-size: 2.2vw !important;
    }

    .aboutUs__container .c-tromb .group-photos__item {
        width: 100%;
        max-width: 25vh;
        flex-wrap: wrap;
        margin: 2rem auto;
    }

    .body .hr--white {
        margin: 5rem 5rem 2rem;
    }

    .archetypes .circle {
        width: 40vw;
        height: 40vw;
    }

    .archetypes .pia,
    .archetypes .eva {
        padding-top: 0rem;
    }

    .archetypes .AI__order-button {
        padding: 0;
    }

    .archetypes .AI__desc {
        font-size: 2vw;
        text-align: center !important;
        margin: 5vw auto;
    }

    .splide__logos .splide__slide {
        margin: 0 4rem !important;
    }

    .contact__firstBx{
        margin: 2rem 2rem 0;
        padding-top: 0;
    }

    .contactBx .contactForm__input--select,
    .contactBx .contactForm__input {
        font-size: 1.5vw;
    }

}

@media screen and (max-width: 1200px) and (max-height: 600px) {
    .banner__icn {
        top: 7rem;
    }

    

    .contactBx .contactForm__input-label {
        font-size: 2vw;
    }

    .contactBx .contactForm .textarea {
        height: 15vw;
    }

    .contactBx .contactForm__btn {
        padding: 1vw 2vw;
        font-size: 2.5vw;
    }
    
}


@media screen and (max-width: 1200px) and (max-height: 1400px) {
    .banner__icn {
        top: 20vh !important;
        font-size: 5rem !important;
    }

    .activities .splide__slide{
        width: 70% !important;
    }

    .fa-angle-double-down:before {
        border-radius: 2rem;
        padding: 2vw;
    }

    .activities .splide__slide__container {
        height: 700px !important;
    }
}

@media screen and (max-width: 970px) {

    
    .header{    
        backdrop-filter: blur(1rem) !important;
        padding: 1rem 5rem;
    }
    
    .header .nav-btn{
        padding: 2rem;
    }

    .banner__contentBx{
        top: 40vh !important;
    }

    .banner__icn {
        top: 30vh !important;
        font-size: 5rem !important;
    }

    .banner__contentBx .banner__title {
        z-index: -1;
    }

    .header .nav__links {
        display: flex;
        justify-content: center;
        font-size: 4vw !important;
        width: 100%;
        margin: 0.5rem 0;
        padding: 2rem 0;
        border-radius: 1rem;
        box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.5);
        background-color: rgba(0, 0, 0, 0.3);
    }

    .header .nav__bar{
        // display: block;
        flex-direction: column;
        margin: auto;
    }
    
    .header .nav__bar .nav__logo{
        transition: none;
    }

    .header .nav__list {
        margin: 0;
        width: 100%;
        flex-direction: column;
    }

    .header .nav__links:hover {
        padding-bottom: 2rem;
        margin-top: 1.5rem;
    }

    .header .nav {
        width: 100%;
    }

    .header .navBx {
        text-align: center;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .header .nav__list-item{
        transform: scale(0.8);
    }

    .body .hr--white {
        margin: 3rem 5rem 1rem;
    }

    .section__heading .section__title{
        &--margin{
            margin-left: 0;
        }
    }

    .section__subtitle {
        font-size: 4vh;
    }
    
    .activities .splide__slide {
        width: 100% !important;
    }

    .activities .splide__slide__container .slide__contentBx .slide__header .slide__sub-title{
        font-size: 3.5vw;
    }

    .activities .splide__slide__container .slide__contentBx .slide__header .slide__title {
        font-size: 4.5vw;
    }
    
    .activities .splide__slide__container .slide__contentBx .slide__textBx {
        left: 50vw !important;
        width: 45vw !important;
    }
    
    .activities .splide__slide__container .slide__contentBx .slide__header .slide__nPage{
        font-size: 3vw;
    }
    
        .archetypes .section__contentBx--transparentBg {
            width: 90%;
            margin: auto;
        }
    
        .activities .splide__slide__container .slide__hiddenBx{
            display: block;
            width: 150% !important;
            height: 100%;
            left: 0 !important;
            padding: 10vw !important;
            padding-top: 25rem !important;
        }
    
    .archetypes .pia,
    .archetypes .eva {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .archetypes .circle {
        margin: 2rem 0;
        transform: scale(1.2);
    }

    .archetypes .circle-title {
        font-size: 4vw;
    }

    .archetypes .AI-info {
        width: 100% !important;
        margin: 0 0 2rem;
        left: 0 !important;
    }
    .archetypes .section__text{
        text-align: justify;
        hyphens: auto;
    }

    .archetypes .AI__order-button{
        width: 80% !important;
    }

    .archetypes .circle{
        display: flex;
        margin: 2rem 0 0;
        transform: scale(1.5);
        &--right{
            margin: 2rem 0;
        }
    }
    .archetypes .AI__desc{
        font-size: 2vh;
    }
    .modal__contentBx{
        width: 100% !important;
        border-radius: 0;
        padding: 1rem;
    }
    .modal .close-icon{
        top: 0;
    }
    .aboutUs__container .values,
    .aboutUs__container .results {
        left: 0;
        margin: 1rem auto;
        width: 90%;
    }

    .aboutUs__container .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .aboutUs__container .grid__title {
        height: 3.5vw;
    }

    .aboutUs__container .partenaires__container {
        padding: 2rem;
    }

    .splide__logos .splide__slide {
        margin: 0 6rem !important;
    }

    .aboutUs__container .splide__logos .logo__item {
        margin: 0;
    }

    .aboutUs__container .c-tromb .group-photos__item .group-photos__desc{
        font-size: 1.5rem;
        padding: 1rem;
    }

    .aboutUs__container .grid {
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
    }

    .aboutUs__container .grid-item--underline,
    .aboutUs__container .grid-item {
        margin: 2rem 0 2rem;
        padding: 0;
        width: 100%;
        border-bottom: 2px solid white;
    }

    .aboutUs__container .grid__title {
        font-size: 3.5vw !important;
    }

    .aboutUs__container .grid__text {
        font-size: 2vw;
    }

    .contactBx .contactForm{
        margin: 0;
        width: 100%;
    }

    .contactBx__textBx--first, .contactBx__textBx--second{
        width: 90%;
    }

    .contactBx .contactForm__input--select, .contactBx .contactForm__input{
        font-size: 4vw;
        width: 100%;
    }

    .contactBx .contactForm .textarea{
        font-size: 2vh;
    }
    
    .footer{
        &__lists{
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            font-size: 1.5rem;
        }

        &__list{
            margin: 1rem 0;
            text-align: center;
            padding: 0;
        }

        &__media{
            justify-content: center;
            margin: 2rem 0;
        }
    }
    .attribMod__contentBx{
        width: 80% !important;
        padding: 2vw 6vw 5vw;
        border-radius: 2vw;
    }
    .attribMod__textBx{
        padding: 3vw;
    }

}


@media screen and (max-width: 790px) {
    .banner__icn {
        top: 15vh !important;
        font-size: 5rem !important;
    }
    .section__subtitle{
        margin: 0;
        font-size: 7vw;
    }

    .section__heading .section__title{
        font-size: 2.1rem;
    }

    
    .archetypes .section__text{
        padding: 0 4rem;
    }

    .archetypes .AI__desc{
        font-size: 3vh;
    }
    .aboutUs__container .grid__text{
        font-size: 2.5vw;
    }

    .aboutUs__container .c-tromb .group-photos__item{
        max-width: 60%;
    }
    .aboutUs__container .grid__title{
        font-size: 5vw !important;
    }
    .aboutUs__container .grid__text{
        font-size: 3vw;
    }
    .contactBx .contactForm__input-label{
        font-size: 3.5vw;
    }

    .contactBx .contactForm__option{
        font-size: 2.5vw;
    }

    .contactBx .contactForm .textarea {
        font-size: 2.5vh;
    }
    .contactBx .contactForm__btn{
        margin: 1rem 0;
        padding: 1rem 2rem;
        font-size: 4vw;
    }

    .footer{
        &__media{
            &-item{
                &--svg{
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .banner__contentBx .banner__title{
        font-size: 3rem;
    }
    .banner__icn {
        top: 15vh !important;
        font-size: 5rem !important;
    }
    
    .section__heading .section__title{
        font-size: 9vw;
    }
    .activities__firstBx{
        padding-top: 1rem;
    }
    .splide__track{
        padding: 0 !important;
    }
    .splide__arrow{
        height: 3rem !important;
        width: 3rem !important;
        box-shadow: 0px 0px 5px black !important;
    }
    
    .activities .splide__slide{
        box-shadow: inset 7px 0px 10px 0px black, inset -5px 0px 10px 0px black;
    }
    
    .splide__slide__container>.slide__img,
    .splide__slide__container>.slide__img {
        opacity: 0.25;
    }
    
    .slide__contentBx,
    .slide__contentBx {
        opacity: 1 !important;
    }
    
    .activities .splide__slide__container .slide__contentBx .slide__header {
        width: 100vw;
        height: 25%;
        top: 25%;
        left: 50vw;
    }
    
    .activities .splide__slide__container .slide__contentBx .slide__header .slide__nPage{
        top: 1.5rem;
        left: 80%;  
        font-size: 3vh;
    }
    .activities .splide__slide__container .slide__contentBx .slide__header .slide__title{
        font-size: 4.3vh !important;
        left: 5% !important;
        top: 40%;
    }
    .activities .splide__slide__container .slide__contentBx .slide__header .slide__sub-title{
        font-size: 3vh;
        left: 20%;
        top: 65%;
    }
    .activities .splide__slide__container .slide__contentBx .slide__textBx {
        width: 75vw !important;
    }
    
    .activities .splide__slide__container .slide__hiddenBx{
        position: absolute;
        padding: 4vh !important;
        width: 100% !important;
        left: 0 !important;
        top: 65%;
    }
    
    .aboutUs__container .values, .aboutUs__container .results{
        margin: 2rem auto;
    }
    .aboutUs__container .grid__text {
        font-size: 4vw;
    }
    
    .aboutUs__container .c-tromb .group-photos__item{
        max-width: 80%;
    }
    .aboutUs__container .c-tromb .group__text{
        font-size: 1.5rem;
    }
    .contactBx__textBx--first::before{
        width: 100vw;
    }
    .contactBx__textBx{
        margin: 0;
        width: 100vw;
        border-radius: 0;
    }
    
    .contactBx .contactForm{
        margin-bottom: 2rem;
    }
    
    .contactBx .contactForm__input-label{
        font-size: 2.5vh;
    }
    .contactBx .contactForm .textarea {
        height: 36vw;
    }
}