@charset "UTF-8";
/*
Index:
1/ All - line 14
2/ header - line 196
3/ body - line 219
4/ section (all) - line 276
5/ sections - line 387/510/...
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  border-radius: 10px;
  height: 10px;
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background: #f18f01;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background-color: #14113d;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
}

header .navbar {
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 2px 30px 0px black;
          box-shadow: 0px 2px 30px 0px black;
  padding: 25px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .navbar:hover {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0px -10px 10px -10px rgba(255, 255, 255, 0.7);
          box-shadow: inset 0px -10px 10px -10px rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(0.2rem);
          backdrop-filter: blur(0.2rem);
}

header .navbar .logo {
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  z-index: 1;
}

header .navbar .navMenu {
  margin-right: 5%;
  margin-left: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar nav {
  opacity: 0;
  display: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

header .navbar nav ul {
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}

header .navbar nav ul li a {
  height: 80px;
  width: 100%;
  margin: 1vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .navbar nav ul li a:hover {
  color: #f18f01;
  -webkit-box-shadow: 0px 11px 10px -10px rgba(255, 255, 255, 0.7);
          box-shadow: 0px 11px 10px -10px rgba(255, 255, 255, 0.7);
  padding-bottom: 3px;
}

header .navbar .iconBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 5%;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  width: 4vw;
  height: 4vw;
}

header .navbar .iconBtn:hover {
  background: rgba(0, 0, 0, 0.5);
}

header .navbar .toggle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  padding: 1vw;
}

header .navbar .toggle label {
  cursor: pointer;
}

header .navbar .toggle input {
  display: none;
}

header .navbar .toggle label > .bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 4.3px;
  background-color: white;
  position: relative;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 9px;
  margin-bottom: 9px;
}

header .navbar .toggle label > #bar1 {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

header .navbar .toggle label > #bar3 {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

header .navbar .toggle #toggle:checked ~ label > #bar1 {
  content: "";
  background-color: #f18f01;
  -webkit-transform: rotateZ(45deg) translate(2.5px, -2.5px);
          transform: rotateZ(45deg) translate(2.5px, -2.5px);
  visibility: visible;
  margin: 0;
  -webkit-box-shadow: 0px 0px 10px 0px #f18f01;
          box-shadow: 0px 0px 10px 0px #f18f01;
}

header .navbar .toggle #toggle:checked ~ label > #bar3 {
  content: "";
  background-color: white;
  -webkit-transform: rotateZ(-45deg) translate(2.5px, 2.5px);
          transform: rotateZ(-45deg) translate(2.5px, 2.5px);
  visibility: visible;
  margin: 0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.7);
          box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.7);
}

header .navbar .toggle #toggle:checked ~ label > #bar2 {
  visibility: hidden;
  -webkit-transition: all 0.5s var(--animation-curve);
  transition: all 0.5s var(--animation-curve);
}

header .navbar .toggle:hover > label > .bars {
  background-color: #f18f01;
}

body {
  background-color: white;
}

body #blurred-hr {
  position: absolute;
  z-index: 3;
  height: 40px;
  width: 100%;
  background-color: black;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 15px 60px 80px black;
          box-shadow: 0px 15px 60px 80px black;
  position: relative;
  border: none;
}

body hr {
  height: 5px;
  background-color: #f18f01;
  border: none;
}

.banner {
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #202020;
}

.banner .imgBg {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
  background: url("../img/headerSky.jpg") no-repeat;
  background-size: 100%;
}

.banner .content {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 270px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  text-align: center;
}

.banner .content h2 {
  color: white;
  font-size: 60px;
}

.banner .content p {
  color: white;
  font-size: 28px;
}

.banner .content .fa {
  font-size: 42px;
  color: white;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 250px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.banner .content .fa .fa-angle-double-down {
  text-align: center;
  vertical-align: baseline;
}

.banner .content .fa:hover {
  color: #f18f01;
}

section {
  z-index: 2;
}

section .contentBx .heading {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 150px;
  left: -24%;
  display: inline-block;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-radius: 50px;
  letter-spacing: 1px;
}

section .contentBx .heading #line {
  width: 55%;
  height: 4%;
  position: absolute;
  background-color: white;
  left: 11%;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

section .contentBx .textBx {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section h1 {
  font-size: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  /*
        //souligné + border rond
        &::after{
            content:'';
            position:absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            background:white;
            height: 5px;
            border-radius: 10px 10px 10px 10px;
            box-shadow: 0px 2px 10px 0px white;
        }
        */
}

section h2 {
  font-size: 4vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 5rem;
  /*
        //souligné + border rond
        &::after{
            content:'';
            position:absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            background:white;
            height: 5px;
            border-radius: 10px 10px 10px 10px;
            box-shadow: 0px 2px 10px 0px white;
        }
        */
}

.about {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 100vh;
}

.about #firstBx {
  -webkit-box-shadow: 0px -10px 15px 0px rgba(255, 255, 255, 0.3);
          box-shadow: 0px -10px 15px 0px rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding-left: 10rem;
  padding-right: 10rem;
}

.about #firstBx #text1 {
  padding-bottom: 3rem !important;
  padding-top: 4rem;
  font-size: 22px;
  text-align: center;
  position: relative;
}

.about .splide__slide {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ECF0F1;
  width: 50% !important;
  background-color: black;
  cursor: pointer;
  -webkit-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
}

.about .splide__slide:hover, .about .splide__slide:focus {
  -webkit-box-shadow: inset 7px 0px 10px 0px black, inset -5px 0px 10px 0px black;
          box-shadow: inset 7px 0px 10px 0px black, inset -5px 0px 10px 0px black;
}

.about .splide__slide:hover .slides-text {
  opacity: 1;
  visibility: visible;
}

.about .splide__slide:hover .imgBox, .about .splide__slide:focus .imgBox {
  opacity: 0.25;
}

.about .splide__slide:hover .slides-title, .about .splide__slide:focus .slides-title {
  opacity: 1;
}

.about .target {
  width: 80% !important;
}

.about .target:focus .hiddenBx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.about .imgBox {
  z-index: -1;
  display: block;
  position: absolute;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.about .splide__slide__container {
  width: 100%;
  z-index: 1;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #202020;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.about .splide__slide__container .contentBx {
  width: 858.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.about .splide__slide__container .hiddenBx {
  display: none;
  opacity: 0;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.7);
}

.about .splide__slide__container .slides-title {
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.25);
  position: absolute;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: block;
  width: 30%;
  height: 100%;
  top: 50%;
  left: 10%;
  padding: 5%;
  white-space: nowrap;
}

.about .splide__slide__container .sub-title {
  z-index: 2;
  position: relative;
  left: 60%;
  font-size: 2.5rem !important;
  top: 35%;
  color: rgba(255, 255, 255, 0.7);
}

.about .splide__slide__container .sub-title .orange {
  color: #f18f01;
}

.about .splide__slide__container #nPage {
  font-size: 2rem;
  height: 20%;
  width: 20%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 2px;
  left: 81%;
}

.about .splide__slide__container .slides-text {
  position: absolute;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  top: 80%;
  left: 60%;
  width: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
}

.about .splide__slide__container .slides-hidden-title {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1vw;
  width: 100%;
  top: 30%;
  left: 60%;
  text-align: center;
  font-size: 3rem;
  padding: 0;
}

.about .splide__slide__container .slides-hidden-text {
  color: white;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: justify;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about #secondBx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about #secondBx .textBx {
  position: relative;
  width: 50%;
  text-align: justify;
  font-size: 20px;
}

.about #secondBx #text2 {
  padding: 10rem !important;
  background-color: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.about #secondBx #text2bis {
  padding: 10rem !important;
  background-color: #0d0768;
}

.innovations {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background: linear-gradient(15deg, #0d0768 10%, #202020 65%);
}

.innovations .contentBx {
  width: 100%;
  padding-left: 10rem;
  padding-right: 10rem;
}

.innovations .contentBx #text3 {
  padding-top: 2vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  font-size: 20px;
  text-align: justify;
}

.innovations .contentBx #title {
  padding: 0;
}

.innovations .contentBx #sub-title {
  position: relative;
  font-size: 32px;
  top: 0%;
  color: rgba(255, 255, 255, 0.7);
  padding: 0;
}

.innovations .contentBx .textBx {
  padding: 2rem;
}

.innovations .contentBx .pia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 5rem;
}

.innovations .contentBx .pia #piaCircle {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  background: white;
  width: 500px;
  height: 500px;
  background-color: transparent;
  border-radius: 50%;
  border: 10px solid white;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
}

.innovations .contentBx .pia #piaCircle img {
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-2.5%, 51.5%) scale(6.5, 6.5);
          transform: translate(-2.5%, 51.5%) scale(6.5, 6.5);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.innovations .contentBx .pia #piaCircle:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.9);
          box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.5);
}

.innovations .contentBx .pia #piaCircle:hover img {
  -webkit-transform: translate(0%, 11%) scale(1.5, 1.5);
          transform: translate(0%, 11%) scale(1.5, 1.5);
}

.innovations .contentBx .pia #textPia {
  position: relative;
  font-size: 20px;
  text-align: justify;
  width: 50%;
  color: white;
}

.innovations .contentBx .eva {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 2rem;
}

.innovations .contentBx .eva #evaCircle {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  background: white;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 10px solid white;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
}

.innovations .contentBx .eva #evaCircle img {
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-2.5%, 51.5%) scale(6.5, 6.5);
          transform: translate(-2.5%, 51.5%) scale(6.5, 6.5);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.innovations .contentBx .eva #evaCircle:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.9);
          box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.5);
}

.innovations .contentBx .eva #evaCircle:hover img {
  -webkit-transform: translate(0%, 11%) scale(1.5, 1.5);
          transform: translate(0%, 11%) scale(1.5, 1.5);
}

.innovations .contentBx .eva #textEva {
  position: relative;
  font-size: 20px;
  text-align: justify;
  width: 50%;
  left: 0%;
}
/*# sourceMappingURL=styles.css.map */