@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    // custom scroll-bar
    &::-webkit-scrollbar {
        border-radius: 10px;
        height: 10px;
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: $coolOrange;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: #14113d;
    }
}

.body {
    background: url("../img/headerSky.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    will-change: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(32, 32, 32, 0.3);
        will-change: auto;
    }

    .blurred-hr {
        position: absolute;
        z-index: 3;
        height: 40px;
        width: 100%;
        background-color: black;
        margin: 0px;
        display: flex;
        box-shadow: 0px -15px 30px 40px black;
        position: relative;
        border: none;
    }

    .hr {
        height: 5px;
        background-color: $coolOrange;
        border: none;

        &--white {
            margin: 5rem;
            height: 2px;
            background-color: white;
        }
    }
}

.header {
    position: fixed;
    width: 100vw;
    z-index: 10;
    top: 0;

    .nav__bar {
        background-color: rgba(0, 0, 0, 0.25);
        box-shadow: 0px 2px 30px 0px black;
        padding: 2rem 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: rgba(0, 0, 0, 0.7);
            box-shadow: inset 0px -10px 10px -10px rgba(255, 255, 255, 0.7);
            backdrop-filter: blur(0.2rem);
        }

        .nav__logo {
            color: white;
            text-decoration: none;
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 1px;
            z-index: 1;

            transition: all 0.2s ease-in-out;

            &:hover {
                text-shadow: 0px 0px 5px white;
                transform: scale(1.2) translate(0%, 0%);
            }
        }

        .navBx {
            margin-right: 5%;
            margin-left: 35%;
            display: flex;
        }

        .nav {
            opacity: 0;
            display: none;
            transition: all 0.4s ease-in-out;

            &__list {
                margin-right: 4rem;
                text-decoration: none;
                display: flex;
                list-style: none;
            }

            &__list-item {
                transition: all 0.2s ease-in-out;

                &:hover {
                    transform: scale(1.2) translate(0%, -10%);
                }
            }

            &__links {
                height: 80px;
                width: 100%;
                margin: 1vw;
                padding-top: 0.5vw;
                padding-bottom: 0.5vw;
                padding-left: 2vw;
                padding-right: 2vw;
                text-decoration: none;
                color: white;
                transition: all 0.5s ease-in-out;

                &:hover {
                    color: $coolOrange;
                    box-shadow: 0px 11px 10px -10px rgba(255, 255, 255, 0.7);
                    padding-bottom: 3px;
                }

                &:hover .nav__list-item {
                    transform: scale(1.2);
                }
            }
        }

        .nav-btn {
            display: flex;
            position: absolute;
            right: 5%;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            transition: all 0.5s ease-out;
            width: 4vw;
            height: 4vw;

            &:hover {
                background: rgba(0, 0, 0, 0.5);
            }

            &__toggle {
                position: absolute;
                display: flex;
                border-radius: 10px;
                padding: 1vw;
            }

            &__label {
                cursor: pointer;
            }

            &__input {
                display: none;
            }

            &__label>.nav-btn__bars {
                display: flex;
                width: 35px;
                height: 4.3px;
                background-color: white;
                position: relative;
                border-radius: 10px;
                transition: all 0.5s;
                flex-direction: column;
                justify-content: space-between;
                margin-top: 9px;
                margin-bottom: 9px;
            }

            &__label>#bar1 {
                transform: rotateZ(0deg);
                transform-origin: left bottom;
            }

            &__label>#bar3 {
                transform: rotateZ(0deg);
                transform-origin: left top;
            }

            #toggle:checked~label>#bar1 {
                content: "";
                background-color: $coolOrange;
                transform: rotateZ(45deg) translate(2.5px, -2.5px);
                visibility: visible;
                margin: 0;
                box-shadow: 0px 0px 10px 0px $coolOrange;
            }

            #toggle:checked~label>#bar3 {
                content: "";
                background-color: white;
                transform: rotateZ(-45deg) translate(2.5px, 2.5px);
                visibility: visible;
                margin: 0;
                box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.7);
            }

            #toggle:checked~label>#bar2 {
                visibility: hidden;
                transition: all 0.5s var(--animation-curve);
            }

            &:hover>label>.bars {
                background-color: $coolOrange;
            }
        }
    }
}

.banner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    &__icn {
        font-size: 2.625rem;
        color: white;
        position: relative;
        justify-content: center;
        top: 15.625rem;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
            color: $coolOrange;
        }
    }

    &__contentBx {
        z-index: 10;
        display: flex;
        flex-direction: column;
        top: 270px;
        align-items: center;
        position: relative;
        width: 100%;
        text-align: center;

        .banner__title {
            color: white;
            font-size: 60px;
        }

        .banner__subtitle {
            color: white;
            font-size: 28px;
        }

        .fa-angle-double-down {
            text-align: center;
            vertical-align: baseline;
        }
    }
}

.section {
    z-index: 2;

    &__intro,
    &__outro {
        box-shadow: 0px -10px 15px 0px rgba(255, 255, 255, 0.3);
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);

        padding-left: 10vw;
        padding-right: 10vw;
    }

    &__contentBx {
        margin: 0 10%;
    }

    &__heading {
        position: relative;
        z-index: 1;
        height: 150px;
        padding-top: 2rem;
        padding-bottom: 1rem;
        border-radius: 50px;
        letter-spacing: 1px;
        display: flex;
        flex-direction: column;

        .section__title {
            width: 100%;
            position: relative;
            font-size: 4rem;
            display: flex;
            align-items: center;
            color: white;
            text-transform: uppercase;
            height: 5.5rem;
        }

        .title__line {
            width: 95%;
            height: 4%;
            left: -50%;
            position: relative;
            background-color: white;
            box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.8);
            border-radius: 10px;
        }
    }

    &__subtitle {
        font-size: 4rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 1.5rem;
        margin: 2rem;
        text-transform: uppercase;
        border-bottom: 2px solid white;
    }

    &__textBx {
        justify-content: center;
        color: white;
        position: relative;
        display: flex;
    }
}

.activities {
    position: relative;
    width: 100%;
    height: 100%;

    &__firstBx {
        padding-bottom: 3rem !important;
        padding-top: 4rem;
        font-size: 22px;
        text-align: center;
        position: relative;
    }
}

.archetypes {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    //background: linear-gradient(15deg, $coolIndigo 20%, $coolOrange 90%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(221, 221, 221, 1) 25%, rgba(72, 72, 72, 1) 65%, rgba(0, 0, 0, 1) 100%);
    box-shadow: 0px 0px 15px 1px black;

    .section__contentBx--transparentBg {
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 10px 2px black;
    }

    .section__intro {
        box-shadow: 0;
        background: 0;
        backdrop-filter: 0;
        padding-top: 0;
    }

    .section__text {
        padding: 2rem 10rem 0 10rem;
        justify-content: center;
        position: relative;
        width: 100%;
        font-size: 20px;
        text-align: justify;
    }

    .pia {
        display: flex;
        justify-content: center;
        padding-top: 5rem;
    }

    .eva {
        display: flex;
        justify-content: space-evenly;
        padding: 4rem 0;
    }

    .aiBx {
        margin: 2rem 0;
        left: -5%;
        position: relative;
        display: flex;
        flex-direction: column;

    }

    .circle {
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        background: white;
        width: 32rem;
        height: 32rem;
        background-color: transparent;
        border-radius: 17rem;
        border: 5px solid white;
        box-shadow: inset 0px 0px 50px 2px $coolOrange, 0px 0px 5px 2px black;
        background-color: rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease;
        overflow: hidden;
        cursor: pointer;

        &--left {
            left: 2%;
        }

        &--right {
            right: 10%;
        }

        &-chip {
            background-size: cover;
            justify-content: center;
            align-items: center;
            transform: translate(-2.5%, 51.5%) scale(6.5, 6.5);
            transition: all 2s;
        }

        &-info {
            margin: 2rem;
            padding: 2rem;
        }

        &__title {
            padding: 0;
            text-align: center;
            font-size: 4rem;
        }

        &__sub-title {
            position: relative;
            top: 0;
            padding: 0;

            color: rgba(255, 255, 255, 0.7);
            font-size: 32px;
            text-align: center;
        }

        &-desc {
            color: white;
        }

        &-title {
            position: absolute;
            z-index: 10;

            text-shadow: -0.125rem 0.125rem 0.313rem black;
            color: white;
            font-size: 4rem;
            letter-spacing: 0.05rem;

            transform: scale(1);
            transition: all 1.9s;
        }

        &:hover {
            transform: scale(1.1, 1.1);
            box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.9);
            background-color: rgba(255, 255, 255, 0.5);
            box-shadow: 0px 0px 10px 2px $coolOrange, inset 0px 0px 50px 2px black;

            .circle-chip {
                transform: translate(0%, 11%) scale(1.5, 1.5);
            }

            .circle-title {
                transform: translate(2.5%, -3%) scale(0.3, 0.3);
                color: $coolOrange;
            }
        }

        &:hover .pia__title {
            box-shadow: 0px 0px 5px $coolOrange;
        }
    }

    .AI {

        &-info {
            width: 40%;
            position: relative;
            margin: 2rem;
            padding: 2rem;

            font-size: 20px;
            text-align: justify;
            color: white;

            &--left {
                left: 5%;
            }

            &--right {
                left: 0%;
            }
        }

        &__title {
            padding: 0;
            text-align: center;
            font-size: 4rem;
        }

        &__sub-title {
            position: relative;
            margin: 1rem 0;
            top: 0;
            padding: 0;

            color: rgba(255, 255, 255, 0.7);
            font-size: 32px;
            text-align: center;
        }

        &-info {
            position: relative;
            font-size: 20px;
            text-align: justify;
            width: 40%;
            color: white;

            &--left {
                left: 5%;
            }

            &--right {
                left: 0%;
            }
        }

        &__textBx {
            position: relative;
            font-size: 20px;
            text-align: justify;
            left: 0%;
        }

        &__desc {
            font-size: 1.5rem;
            margin: 5rem auto;
            text-align: justify;
        }

        &__order-button {
            width: 50%;
            height: 4rem;
            padding: 1rem 2rem;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            background-color: $coolOrange;
            border: 0;
            border-radius: 1rem;
            box-shadow: 0px 0px 5px black;
            cursor: pointer;
        }
    }
}

.aboutUs__container {
    display: flex;
    flex-direction: column;

    .section__contentBx--transparentBg {
        padding: 0;
        width: 80%;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(0.5rem);
        box-shadow: 0px 0px 5px 0px black;
    }

    .c-chart {
        position: relative;
        width: 75%;
        margin: 5rem 0;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 10px 2px black;

        background-color: rgba(255, 255, 255, 0.2);

        &__title {
            justify-content: flex-start;
            margin: 0 3rem;
        }
    }

    .values {
        left: -5%;
    }

    .results {
        right: -30%;
    }

    .grid {
        width: 100%;
        padding: 0 4rem 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, 30%);
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 2rem;

        &-item {
            position: relative;
            padding: 1rem 0 0;

            &--underline {
                border-bottom: 2px solid white;
            }
        }

        &__title {
            font-weight: bold;
            height: 3.5rem;
            text-transform: uppercase;
            font-size: 1.8rem;
            color: white;

            &--orange {
                color: $coolOrange;
            }
        }

        &__text {
            padding: 1rem;
            font-size: 1rem;
            color: white;
        }
    }

    .locaux {
        position: relative;
        width: 90%;
        min-height: 20rem;
        margin: 2rem auto;
        padding: 2rem;
        overflow: hidden;
        border-radius: 1rem;
        background-color: rgba(0, 0, 0, 0.2);
    }


    .c-tromb {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 2rem auto;
        left: -5%;
        background-color: rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 10px 2px black;

        .team {
            display: flex;
        }

        .group__textBx {
            position: relative;
            margin: 2rem;
            width: 30%;
            font-size: 22px;
            color: white;
        }

        .group-photos {
            width: 75%;
            left: 0;
            display: flex;
            flex-wrap: wrap;
            grid-column-gap: 1.5rem;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding: 2rem 1.5rem 0;

            &__item {
                margin: 0 auto 2rem;
                display: flex;
                flex-direction: column;
                width: 22%;
                box-shadow: 0px 0px 5px 1px black;

                transition: all 0.2s ease-in-out;

                .group-photos__img {
                    max-width: 100%;
                    position: relative;
                }

                .group-photos__desc {
                    position: relative;
                    width: 100%;
                    padding: 0.5rem;

                    font-size: 0.9rem;
                    color: white;
                    background-color: rgba(0, 0, 0, 0.8);
                    transition: all 0.2s ease-in-out;
                }

                &:hover {
                    transform: scale(1.2);
                    box-shadow: 0px 0px 2px 2px white;
                }
            }
        }
    }

    .partenaires__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 2em 5em;

        .partenaires__title {
            font-size: 44px;
            color: white;
            left: 50%;
            width: 100%;
            margin: 1rem auto 0;
            text-align: center;

            &--orange {
                color: $coolOrange;
            }
        }

        .partenaires__textBx {
            margin: 5rem;
            color: white;
        }
    }
}

.contactBx {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid $coolOrange;

    &__textBx {
        position: relative;
        width: 50%;
        text-align: justify;
        font-size: 20px;
        color: white;

        &--first {
            padding: 10rem !important;
            backdrop-filter: blur(10px);
            background-color: $coolIndigo;

            &::before {
                content: "";
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                background-image: url(../img/d64mw8u-15e69551-6a73-479c-be7f-5636e6ac5233.jpg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                will-change: auto;
            }
        }

        &--second {
            background-color: $coolIndigo;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }

    .contactForm {
        position: relative;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;

        &__fieldset {
            display: flex;
            flex-direction: column;
            margin: 1rem;
            border-left: 1px solid $coolOrange;
            width: 80%;
        }

        &__inputBx {
            margin: 1rem;
            display: flex;
            flex-direction: column;
        }

        &__input-label {
            margin: 1rem 0;
        }

        &__input {
            padding: 1rem;
            background-color: rgba(255, 255, 255, 0);
            border: 0;
            outline: none;
            border-bottom: 1px solid $coolOrange;
            color: white;
        }

        &__btn {
            position: relative;
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 1rem 0;
            padding: 1rem 2rem;
            text-decoration: none;
            color: $coolOrange;
            border-radius: 1rem;
            background-color: rgba(255, 255, 255, 0.7);
            color: $coolIndigo;
            box-shadow: 0px 0px 5px 2px black;

            &:hover {
                background-color: rgba(241, 143, 1, 0.8);
                color: $coolIndigo;
            }
        }

        &__input--select {
            padding: 1rem;
            background-color: rgba(255, 255, 255, 0);
            border: 0;
            outline: none;
            border-bottom: 1px solid $coolOrange;
            color: white;
        }

        &__option {
            background-color: rgba(255, 255, 255, 0.2);
            color: black;
        }

        .textarea {
            resize: none;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 0.5rem;
            border-bottom: none;
            box-shadow: 0px 0px 2px 1px black;
        }
    }

    &__message {
        padding-bottom: 5rem;
    }
}

.footer {
    height: 10rem;
}

@media screen and (max-width: 1600px) {
    .header .nav__bar .nav__links {
        padding-right: 0;
        font-size: 1.3vw;
    }

    .banner__icn {
        font-size: 3.625rem;
    }

    .section__contentBx {
        margin: 0;
    }

    .activities .splide__slide__container .slide__contentBx .slide__textBx{
        left: 430px !important;
        width: 400px !important;
    }

    .activities .splide__slide__container .slide__hiddenBx{
        left: 2% !important;
    }
    .aboutUs__container .section__contentBx--transparentBg {
        backdrop-filter: none;
        width: 100%;
    }

    .aboutUs__container .values {
        left: 5%;
    }

    .aboutUs__container .results {
        right: -20%;
    }

    .aboutUs__container .c-tromb {
        background-color: rgba(0, 0, 0, 0.7);
        left: 0;
    }

    .aboutUs__container .c-tromb .team {
        flex-direction: column;
    }

    .aboutUs__container .c-tromb .group-photos {
        margin: auto;
    }

    .aboutUs__container .c-tromb .group__textBx {
        width: 70%;
        margin: auto;
        padding: 2rem 0;
    }

    .section__heading .section__title {
        font-size: 5vw;
    }

    .activities .splide__slide__container {
        height: 650px !important;
    }

    .archetypes .circle {
        width: 32vw;
        height: 32vw;
    }

    .archetypes .circle-title {
        font-size: 3vw;
    }

    .splide__logos .splide__slide {
        margin: 0 2rem !important;
    }

    .contactBx {
        flex-direction: column;
    }

    .contactBx__textBx {
        width: 80%;
        margin: auto;
        font-size: 2rem;
    }

    .contactBx__textBx--first{
        border-radius: 1rem 1rem 0 0;
        overflow: auto;
    }
    .contactBx__textBx--second{
        border-radius: 0 0 1rem 1rem;
        overflow: auto;
        margin-bottom: 2rem;
    }

    .contactBx .contactForm__input--select, .contactBx .contactForm__input {
        font-size: 1.5vw;
    }

    .contactBx .contactForm__option {
        font-size: 1vw;
    }

    .contactBx .contactForm .textarea {
        font-size: 2vw;
    }

    .contactBx .contactForm__btn{
        width: 80%;
        margin: 1rem 0 2rem;
    }
    .attribMod__contentBx{
        width: 70% !important;
    }
}



@media screen and (max-width: 1200px) {
    
    .activities .splide__slide__container .slide__contentBx .slide__header .slide__sub-title{
        font-size: 2rem !important;
    }
}

@media screen and (max-width: 900px) {}

@media screen and (max-width: 480px) {}