@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins';
  font-weight: 300;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  border-radius: 10px;
  height: 10px;
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background: #f18f01;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background-color: #14113d;
}

.body {
  background-color: white;
}

.body #blurred-hr {
  position: absolute;
  z-index: 3;
  height: 40px;
  width: 100%;
  background-color: black;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 15px 60px 80px black;
          box-shadow: 0px 15px 60px 80px black;
  position: relative;
  border: none;
}

.body hr {
  height: 5px;
  background-color: #f18f01;
  border: none;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
}

.header .nav__bar {
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 2px 30px 0px black;
          box-shadow: 0px 2px 30px 0px black;
  padding: 25px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .nav__bar:hover {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0px -10px 10px -10px rgba(255, 255, 255, 0.7);
          box-shadow: inset 0px -10px 10px -10px rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(0.2rem);
          backdrop-filter: blur(0.2rem);
}

.header .nav__bar .nav__logo {
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  z-index: 1;
}

.header .nav__bar .navBx {
  margin-right: 5%;
  margin-left: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav__bar .nav {
  opacity: 0;
  display: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header .nav__bar .nav__list {
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}

.header .nav__bar .nav__links {
  height: 80px;
  width: 100%;
  margin: 1vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header .nav__bar .nav__links:hover {
  color: #f18f01;
  -webkit-box-shadow: 0px 11px 10px -10px rgba(255, 255, 255, 0.7);
          box-shadow: 0px 11px 10px -10px rgba(255, 255, 255, 0.7);
  padding-bottom: 3px;
}

.header .nav__bar .nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 5%;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  width: 4vw;
  height: 4vw;
}

.header .nav__bar .nav-btn:hover {
  background: rgba(0, 0, 0, 0.5);
}

.header .nav__bar .nav-btn__toggle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  padding: 1vw;
}

.header .nav__bar .nav-btn__label {
  cursor: pointer;
}

.header .nav__bar .nav-btn__input {
  display: none;
}

.header .nav__bar .nav-btn__label > .nav-btn__bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 4.3px;
  background-color: white;
  position: relative;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 9px;
  margin-bottom: 9px;
}

.header .nav__bar .nav-btn__label > #bar1 {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

.header .nav__bar .nav-btn__label > #bar3 {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.header .nav__bar .nav-btn #toggle:checked ~ label > #bar1 {
  content: "";
  background-color: #f18f01;
  -webkit-transform: rotateZ(45deg) translate(2.5px, -2.5px);
          transform: rotateZ(45deg) translate(2.5px, -2.5px);
  visibility: visible;
  margin: 0;
  -webkit-box-shadow: 0px 0px 10px 0px #f18f01;
          box-shadow: 0px 0px 10px 0px #f18f01;
}

.header .nav__bar .nav-btn #toggle:checked ~ label > #bar3 {
  content: "";
  background-color: white;
  -webkit-transform: rotateZ(-45deg) translate(2.5px, 2.5px);
          transform: rotateZ(-45deg) translate(2.5px, 2.5px);
  visibility: visible;
  margin: 0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.7);
          box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.7);
}

.header .nav__bar .nav-btn #toggle:checked ~ label > #bar2 {
  visibility: hidden;
  -webkit-transition: all 0.5s var(--animation-curve);
  transition: all 0.5s var(--animation-curve);
}

.header .nav__bar .nav-btn:hover > label > .bars {
  background-color: #f18f01;
}

.banner {
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #202020;
}

.banner__img {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
  background: url("../img/headerSky.jpg") no-repeat;
  background-size: cover;
}

.banner__contentBx {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 270px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  text-align: center;
}

.banner__contentBx .banner__title {
  color: white;
  font-size: 60px;
}

.banner__contentBx .banner__subtitle {
  color: white;
  font-size: 28px;
}

.banner__contentBx .fa {
  font-size: 42px;
  color: white;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 250px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.banner__contentBx .fa:hover {
  color: #f18f01;
}

.banner__contentBx .fa-angle-double-down {
  text-align: center;
  vertical-align: baseline;
}

.section {
  z-index: 2;
}

.section__intro {
  -webkit-box-shadow: 0px -10px 15px 0px rgba(255, 255, 255, 0.3);
          box-shadow: 0px -10px 15px 0px rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding-left: 10rem;
  padding-right: 10rem;
}

.section__heading {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 150px;
  left: -24%;
  display: inline-block;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-radius: 50px;
  letter-spacing: 1px;
}

.section__heading .section__title {
  font-size: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  /*
                //souligné + border rond
                &::after{
                    content:'';
                    position:absolute;
                    bottom: 10px;
                    left: 0;
                    right: 0;
                    background:white;
                    height: 5px;
                    border-radius: 10px 10px 10px 10px;
                    box-shadow: 0px 2px 10px 0px white;
                }
                */
}

.section__heading .line {
  width: 55%;
  height: 4%;
  position: absolute;
  background-color: white;
  left: 11%;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.section__subtitle {
  font-size: 4vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 5rem;
  /*
            //souligné + border rond
            &::after{
                content:'';
                position:absolute;
                bottom: 10px;
                left: 0;
                right: 0;
                background:white;
                height: 5px;
                border-radius: 10px 10px 10px 10px;
                box-shadow: 0px 2px 10px 0px white;
            }
            */
}

.section__textBx {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 100vh;
}

.about__firstBx {
  padding-bottom: 3rem !important;
  padding-top: 4rem;
  font-size: 22px;
  text-align: center;
  position: relative;
}

.about .splide__slide {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ECF0F1;
  width: 50% !important;
  background-color: black;
  cursor: pointer;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.about .splide__slide:hover {
  -webkit-box-shadow: inset 7px 0px 10px 0px black, inset -5px 0px 10px 0px black;
          box-shadow: inset 7px 0px 10px 0px black, inset -5px 0px 10px 0px black;
}

.about .splide__slide:hover .splide__slide__container > .slide__img,
.about .splide__slide:focus .splide__slide__container > .slide__img {
  opacity: 0.25;
}

.about .splide__slide:hover .slide__contentBx,
.about .splide__slide:focus .slide__contentBx {
  opacity: 1;
}

.about .target {
  width: 80% !important;
}

.about .target .slide__textBx {
  opacity: 0 !important;
}

.about .splide__slide__container {
  width: 100%;
  z-index: 1;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #202020;
  position: relative;
}

.about .splide__slide__container .slide__contentBx {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 0;
}

.about .splide__slide__container .slide__contentBx .slide__header {
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.25);
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: block;
  width: 220px;
  height: 100%;
  top: 50%;
  left: 75px;
  padding: 5%;
  white-space: nowrap;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.about .splide__slide__container .slide__contentBx .slide__header .slide__nPage {
  position: absolute;
  top: 5rem;
  left: 12rem;
  font-size: 2rem;
  color: white;
}

.about .splide__slide__container .slide__contentBx .slide__header .slide__title {
  position: absolute;
  padding: 0;
  top: 30%;
  left: 40%;
  font-size: 3.5rem;
  color: white;
}

.about .splide__slide__container .slide__contentBx .slide__header .slide__sub-title {
  z-index: 2;
  position: absolute;
  left: 70%;
  font-size: 2.5rem !important;
  top: 40%;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.about .splide__slide__container .slide__contentBx .slide__header .slide__sub-title--orange {
  color: #f18f01;
}

.about .splide__slide__container .slide__contentBx .slide__header #pain {
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.about .splide__slide__container .slide__contentBx .slide__header #pain:hover #wPlay {
  display: none;
}

.about .splide__slide__container .slide__contentBx .slide__header #pain:hover:before {
  content: 'Pain, ';
}

.about .splide__slide__container .slide__contentBx .slide__textBx {
  position: absolute;
  opacity: 1;
  top: 80%;
  left: 500px;
  width: 550px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.about .splide__slide__container .slide__img {
  z-index: -1;
  display: block;
  position: absolute;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.about .splide__slide__container .slide__hiddenBx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: 549.438px;
  position: relative;
  left: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  padding: 5rem;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.about .splide__slide__container .slide__desc,
.about .splide__slide__container .slide__text {
  color: white;
  text-align: justify;
}

.about .splide__slide__container .slide__desc--orange,
.about .splide__slide__container .slide__text--orange {
  color: #f18f01;
  font-weight: bold;
}

.about .splide__slide__container .slide__desc--strong,
.about .splide__slide__container .slide__text--strong {
  font-weight: bold;
}

.about__secondBx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__secondBx .textBx {
  position: relative;
  width: 50%;
  text-align: justify;
  font-size: 20px;
}

.about__secondBx .textBx .firstText {
  padding: 10rem !important;
  background-color: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.about__secondBx .textBx .secondText {
  padding: 10rem !important;
  background-color: #0d0768;
}

.innovations {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background: linear-gradient(15deg, #0d0768 10%, #202020 65%);
}

.innovations .contentBx {
  width: 100%;
  padding-left: 10rem;
  padding-right: 10rem;
}

.innovations .contentBx #text3 {
  padding-top: 2vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  font-size: 20px;
  text-align: justify;
}

.innovations .contentBx #title {
  padding: 0;
}

.innovations .contentBx #sub-title {
  position: relative;
  font-size: 32px;
  top: 0%;
  color: rgba(255, 255, 255, 0.7);
  padding: 0;
}

.innovations .contentBx .textBx {
  padding: 2rem;
}

.innovations .contentBx .pia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 5rem;
}

.innovations .contentBx .pia #piaCircle {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  background: white;
  width: 500px;
  height: 500px;
  background-color: transparent;
  border-radius: 50%;
  border: 10px solid white;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
}

.innovations .contentBx .pia #piaCircle img {
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-2.5%, 51.5%) scale(6.5, 6.5);
          transform: translate(-2.5%, 51.5%) scale(6.5, 6.5);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.innovations .contentBx .pia #piaCircle:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.9);
          box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.5);
}

.innovations .contentBx .pia #piaCircle:hover img {
  -webkit-transform: translate(0%, 11%) scale(1.5, 1.5);
          transform: translate(0%, 11%) scale(1.5, 1.5);
}

.innovations .contentBx .pia #textPia {
  position: relative;
  font-size: 20px;
  text-align: justify;
  width: 50%;
  color: white;
}

.innovations .contentBx .eva {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 2rem;
}

.innovations .contentBx .eva #evaCircle {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  background: white;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 10px solid white;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
}

.innovations .contentBx .eva #evaCircle img {
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-2.5%, 51.5%) scale(6.5, 6.5);
          transform: translate(-2.5%, 51.5%) scale(6.5, 6.5);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.innovations .contentBx .eva #evaCircle:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.9);
          box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.5);
}

.innovations .contentBx .eva #evaCircle:hover img {
  -webkit-transform: translate(0%, 11%) scale(1.5, 1.5);
          transform: translate(0%, 11%) scale(1.5, 1.5);
}

.innovations .contentBx .eva #textEva {
  position: relative;
  font-size: 20px;
  text-align: justify;
  width: 50%;
  left: 0%;
}

.partenaire__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em 5em;
  background-color: rgba(20, 20, 20, 0.8);
}

.partenaire__container .partenaire__title {
  font-size: 44px;
  color: white;
}

.partenaire__logos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 4em;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partenaire__logos .logo__item {
  margin: 0;
  padding: 0;
  max-width: 250px;
  margin: auto;
  border-radius: 10px;
}

.partenaire__logos .logo__item--white {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
/*# sourceMappingURL=styles.css.map */